 #  A Whale off the Port(folio)
 ---

 In this assignment, you'll get to use what you've learned this week to evaluate the performance among various algorithmic, hedge, and mutual fund portfolios and compare them against the S&P 500 Index.

In [182]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

# Data Cleaning

In this section, you will need to read the CSV files into DataFrames and perform any necessary data cleaning steps. After cleaning, combine all DataFrames into a single DataFrame.

Files:

* `whale_returns.csv`: Contains returns of some famous "whale" investors' portfolios.

* `algo_returns.csv`: Contains returns from the in-house trading algorithms from Harold's company.

* `sp500_history.csv`: Contains historical closing prices of the S&P 500 Index.

## Whale Returns

Read the Whale Portfolio daily returns and clean the data

In [183]:
# Reading whale returns

whale_path = Path('./Resources/whale_returns.csv')
whale_df = pd.read_csv(whale_path, index_col="Date", infer_datetime_format=True, parse_dates=True)

In [184]:
# Count nulls

whale_null_count = whale_df.isna().sum()
whale_null_count

SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [185]:
# Drop nulls

whale_nonull = whale_df.dropna()
whale_nonull_count = whale_nonull.isna().sum()
whale_nonull_count

SOROS FUND MANAGEMENT LLC      0
PAULSON & CO.INC.              0
TIGER GLOBAL MANAGEMENT LLC    0
BERKSHIRE HATHAWAY INC         0
dtype: int64

## Algorithmic Daily Returns

Read the algorithmic daily returns and clean the data

In [186]:
# Reading algorithmic returns

algo_path = Path('./Resources/algo_returns.csv')
algo_df = pd.read_csv(algo_path, index_col="Date", infer_datetime_format=True, parse_dates=True)

In [187]:
# Count nulls

algo_null_count = algo_df.isna().sum()
algo_null_count

Algo 1    0
Algo 2    6
dtype: int64

In [188]:
# Drop nulls

algo_nonull = algo_df.dropna()
algo_nonull_count = algo_nonull.isna().sum()
algo_nonull_count

Algo 1    0
Algo 2    0
dtype: int64

## S&P 500 Returns

Read the S&P 500 historic closing prices and create a new daily returns DataFrame from the data.

In [189]:
# Reading S&P 500 Closing Prices

sp_path = Path('./Resources/sp500_history.csv')
sp_df = pd.read_csv(sp_path, index_col="Date", infer_datetime_format=True, parse_dates=True)

In [224]:
# Check Data Types

sp_type = sp_df.dtypes
sp_type
# sp_type.index
# sp_type2 = sp_df.columns
# sp_type2

Close    object
dtype: object

In [258]:
# Fix Data Types

sp_df['Close'] = sp_df['Close'].astype(float)
# fix_sp_df = sp_df['Close'].str.replace('$', '').astype(float)
fix_sp_df = sp_df
sp_df

              Close
Date
2019-04-23  2933.68
2019-04-22  2907.97
2019-04-18  2905.03
2019-04-17  2900.45
2019-04-16  2907.06
...             ...
2012-10-05  1460.93
2012-10-04  1461.40
2012-10-03  1450.99
2012-10-02  1445.75
2012-10-01  1444.49

[1649 rows x 1 columns]

In [259]:
# Calculate Daily Returns

daily_rtn = fix_sp_df.pct_change()
daily_rtn

               Close
Date
2019-04-23       NaN
2019-04-22 -0.008764
2019-04-18 -0.001011
2019-04-17 -0.001577
2019-04-16  0.002279
...              ...
2012-10-05  0.003469
2012-10-04  0.000322
2012-10-03 -0.007123
2012-10-02 -0.003611
2012-10-01 -0.000872

[1649 rows x 1 columns]

In [268]:
# Drop nulls

# daily_rtn.isna().sum()
new_daily = daily_rtn.dropna()
daily_null_chk = new_daily.isna().sum()
daily_null_chk

Close    0
dtype: int64

In [292]:
# Rename `Close` Column to be specific to this portfolio.

# sp_df_new = sp_df.columns('Real Results')
# sp_df_new.head()

clean_sp_df = sp_df.rename({'Close': 'Results'}, axis='columns').inline=True

## Combine Whale, Algorithmic, and S&P 500 Returns

In [314]:
# Join Whale Returns, Algorithmic Returns, and the S&P 500 Returns into a single DataFrame with columns for each portfolio's returns.

# whale_df1 = whale_df(['Date']).to_datetime(df['Date'])
# algo_df1 = algo_df(['Date']).to_datetime(df['Date'])
# sp_df1 = sp_df(['Date']).to_datetime(df['Date'])

combine = pd.concat([whale_nonull, algo_nonull, sp_df], axis="columns", join="inner")
combine.sort_index(inplace=True)
combine

# new_combine
# combined2 = combined.dropna()
# combined2.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC,Algo 1,Algo 2,Close
Date,,,,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569,-0.001942,-0.000949,2107.78
2015-03-04,0.002230,0.003241,-0.002534,0.004213,-0.008589,0.002416,2098.53
2015-03-05,0.004016,0.004076,0.002355,0.006726,-0.000955,0.004323,2101.04
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098,-0.004957,-0.011460,2071.26
2015-03-09,0.000582,0.004225,0.005843,-0.001652,-0.005447,0.001303,2079.43
...,...,...,...,...,...,...,...
2019-04-16,0.002699,0.000388,-0.000831,0.000837,-0.006945,0.002899,2907.06
2019-04-17,-0.002897,-0.006467,-0.004409,0.003222,-0.010301,-0.005228,2900.45
2019-04-18,0.001448,0.001222,0.000582,0.001916,-0.000588,-0.001229,2905.03
2019-04-22,-0.002586,-0.007333,-0.003640,-0.001088,0.000677,-0.001936,2907.97
2019-04-23,0.007167,0.003485,0.006472,0.013278,0.004969,0.009622,2933.68

---

# Conduct Quantitative Analysis

In this section, you will calculate and visualize performance and risk metrics for the portfolios.

## Performance Anlysis

#### Calculate and Plot the daily returns.

In [320]:
# Plot daily returns of all portfolios
daily_rtn = combine.std() * np.sqrt(252)
daily_rtn.sort_values(inplace=True)
# daily_rtn_plot = daily_rtn.plot()
# daily_rtn_plot

#### Calculate and Plot cumulative returns.

In [325]:
# Calculate cumulative returns of all portfolios

cumul = daily_rtn_plot.cumprod()
cumul

# Plot cumulative return

cumul_plot = 
cumul_plot

AttributeError: 'Axes' object has no attribute 'cumprod'

---

# Risk Analysis

Determine the _risk_ of each portfolio:

1. Create a box plot for each portfolio. 
2. Calculate the standard deviation for all portfolios
4. Determine which portfolios are riskier than the S&P 500
5. Calculate the Annualized Standard Deviation

### Create a box plot for each portfolio

In [18]:
# Box plot to visually show risk

### Calculate Standard Deviations

In [307]:
# Calculate the daily standard deviations of all portfolios

all_daily_std = combine.std()
all_daily_std

SOROS FUND MANAGEMENT LLC        0.007895
PAULSON & CO.INC.                0.007023
TIGER GLOBAL MANAGEMENT LLC      0.010894
BERKSHIRE HATHAWAY INC           0.012919
Algo 1                           0.007620
Algo 2                           0.008342
Close                          305.852115
dtype: float64

### Determine which portfolios are riskier than the S&P 500

In [20]:
# Calculate  the daily standard deviation of S&P 500

volatility = daily_returns.std() * np.sqrt(252)
volatility.sort_values(inplace=True)
volatility

# Determine which portfolios are riskier than the S&P 500

### Calculate the Annualized Standard Deviation

In [21]:
# Calculate the annualized standard deviation (252 trading days)

---

## Rolling Statistics

Risk changes over time. Analyze the rolling statistics for Risk and Beta. 

1. Calculate and plot the rolling standard deviation for all portfolios using a 21-day window
2. Calculate the correlation between each stock to determine which portfolios may mimick the S&P 500
3. Choose one portfolio, then calculate and plot the 60-day rolling beta between it and the S&P 500

### Calculate and plot rolling `std` for all portfolios with 21-day window

In [22]:
# Calculate the rolling standard deviation for all portfolios using a 21-day window

# Plot the rolling standard deviation

### Calculate and plot the correlation

In [23]:
# Calculate the correlation

# Display de correlation matrix

### Calculate and Plot Beta for a chosen portfolio and the S&P 500

In [24]:
# Calculate covariance of a single portfolio

# Calculate variance of S&P 500

# Computing beta

# Plot beta trend

## Rolling Statistics Challenge: Exponentially Weighted Average 

An alternative way to calculate a rolling window is to take the exponentially weighted moving average. This is like a moving window average, but it assigns greater importance to more recent observations. Try calculating the [`ewm`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html) with a 21-day half life for each portfolio, using standard deviation (`std`) as the metric of interest.

In [25]:
# Use `ewm` to calculate the rolling window

---

# Sharpe Ratios
In reality, investment managers and thier institutional investors look at the ratio of return-to-risk, and not just returns alone. After all, if you could invest in one of two portfolios, and each offered the same 10% return, yet one offered lower risk, you'd take that one, right?

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [26]:
# Annualized Sharpe Ratios

In [27]:
# Visualize the sharpe ratios as a bar plot

### Determine whether the algorithmic strategies outperform both the market (S&P 500) and the whales portfolios.

Write your answer here!

---

# Create Custom Portfolio

In this section, you will build your own portfolio of stocks, calculate the returns, and compare the results to the Whale Portfolios and the S&P 500. 

1. Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.
2. Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock
3. Join your portfolio returns to the DataFrame that contains all of the portfolio returns
4. Re-run the performance and risk analysis with your portfolio to see how it compares to the others
5. Include correlation analysis to determine which stocks (if any) are correlated

## Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.

In [28]:
# Reading data from 1st stock

In [29]:
# Reading data from 2nd stock

In [30]:
# Reading data from 3rd stock

In [31]:
# Combine all stocks in a single DataFrame

In [32]:
# Reset Date index

In [33]:
# Reorganize portfolio data by having a column per symbol

In [34]:
# Calculate daily returns

# Drop NAs

# Display sample data

## Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock

In [35]:
# Set weights
weights = [1/3, 1/3, 1/3]

# Calculate portfolio return

# Display sample data

## Join your portfolio returns to the DataFrame that contains all of the portfolio returns

In [36]:
# Join your returns DataFrame to the original returns DataFrame

In [37]:
# Only compare dates where return data exists for all the stocks (drop NaNs)

## Re-run the risk analysis with your portfolio to see how it compares to the others

### Calculate the Annualized Standard Deviation

In [38]:
# Calculate the annualized `std`

### Calculate and plot rolling `std` with 21-day window

In [39]:
# Calculate rolling standard deviation

# Plot rolling standard deviation

### Calculate and plot the correlation

In [40]:
# Calculate and plot the correlation

### Calculate and Plot Rolling 60-day Beta for Your Portfolio compared to the S&P 500

In [41]:
# Calculate and plot Beta

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [42]:
# Calculate Annualized Sharpe Ratios

In [43]:
# Visualize the sharpe ratios as a bar plot

### How does your portfolio do?

Write your answer here!